@font-face
{
	font-family: HelveticaNeueCyr;
	src: url(../fonts/HelveticaNeueCyr-Medium.otf);
}

body
{
	margin: 0px;
	background-image: linear-gradient(180deg, #fff 20%, #ebf5ff 60%);
	background-image: -moz-linear-gradient(top, #fff 20%, #ebf5ff 60%);
	background-image: -webkit-linear-gradient(top, #fff 20%, #ebf5ff 60%);
	background-image: -o-linear-gradient(top, #fff 20%, #ebf5ff 60%);
	background-image: -ms-linear-gradient(top, #fff 20%, #ebf5ff 60%);
}

#bigcontainer
{
	background: url(../images/pattern_small.png);
	width: 100%;
	height: 100%;
}

#maincontainer
{
	height: 100%;
	width: 1170px;
	margin: auto;
}

#logo_left img
{
	height: 86px;
	margin: 7px 0px 7px 40px;
}

#header
{
	width: 100%;
	height: 100px;
	position: relative;
	background: #fbfbfb;
	border: 2px solid #efefef;
	border-top: none;
}

.bord
{
	border: 0px solid black;
}

#contacts_header
{
	height: 100px;
	margin: 12px 30px 12px 0px;
	float right;
	position: absolute;
	right: 0px;
	top: 0px;
	font: 16px HelveticaNeueCyr;
	color: #013359;
	text-align: right;
	line-height: 25px;
}

#navmenu
{
	width: 100%;
	height: 45px;
	position: relative;
	padding: 0px;
	margin-top: 15px;
	border: 2px solid #efefef;
	background: #074470;
}

#menu_uni
{
	padding: 0px;
	margin: 0px;
}

.menu_item
{
	display: inline-block;
	width: 120px;
	height: 45px;
	margin: 0px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	font-family: HelveticaNeueCyr;
	font-size: 15px;
	font-weight: 500;
	border-right: 1px solid #ededed;
	letter-spacing: 1px;
}

.nav_link
{
	font-size: 15px;
	font-weight: 500;
	border-right: 1px solid #ededed;
	letter-spacing: 1px;
	height: 45px;
	display: inline-block;
	margin-right: -5px;
}

.nav_link :hover
{
	color: #074470;
	background: #fbfbfb;
	transition: 0.3s;
}

#menu_uni :last-child
{
	border-right: 0px;
}

#aboutus
{
	width: 100%;
	position: relative;
	padding: 0px;
	margin-top: 25px;
}

.hdr
{
	color: #fff;
	font-family: HelveticaNeueCyr;
	background: #6c9dd4;
	width: 250px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 24px;
	position:relative;
}


#union_container
{
	border: 2px solid #efefef;
	width: 1170px;
	margin-top: 15px;
	background: #fbfbfb;
}

.left_tape
{
	margin: 35px 0px 0px -15px;
}

.left_tape:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 3px 7px;
	border-style: solid;
	border-color: #5081b8 #5081b8 transparent transparent;
}

.right_tape
{
	float: right;
	margin: 10px -15px 25px 00px;
}

.right_tape:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 237px;
	top: -6px;
	border-width: 3px 7px;
	border-style: solid;
	border-color: transparent transparent #5081b8 #5081b8 ;
}

.description
{
	width: 1170px;
	background: #eaeaea;
	margin: auto;
	margin-top: 35px;
}

.description p
{
	color: #898989;
	font-family: HelveticaNeueCyr;
	padding: 25px;
	line-height: 25px;
}

#services
{
	width: 100%;
	position: relative;
	padding: 0px;
	margin-top: 25px;
}

#services_cont
{
	width: 1100px;
	margin: 20px auto;
}

.serv_row
{
	width: 700px;
	position: relative;
	height: 200px;
	margin: 20px auto;
	width: 1000px;
	position: relative;
}

.one_service[verpos = "center"]
{
	margin: 0px 196px 0px 196px;
}

.one_service
{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 0px 0px 0px 0px;
}

.round
{
	width: 150px;
	height: 150px;
	background: #e8e8e8;
	border-radius: 50%;
	margin: 0px auto;
}

.service_name
{
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin: 5px 0px 0px 0px;
	text-align: center;
	color: #414141;
	font-family: HelveticaNeueCyr;
}

.vessel
{
	position: absolute;
	margin: -10px auto;
	width: 200px;
	text-align: center;
	color: #414141;
	font-family: HelveticaNeueCyr;
}

.more
{
	display: inline-block;
	height: 16px;
	width: auto;
	margin: 20px auto;
	padding: 7px;
	color: #294874;
	border: 2px solid #294874;
	font-family: HelveticaNeueCyr;
	line-height: 16px;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	letter-spacing: 1px;
	transition: 0.5s;
}

.more:hover
{
	background: #294874;
	color: #fff;
}

#clients
{
	width: 1000px;
	position: relative;
	padding: 0px;
	margin: 45px auto;
	border: 0px solid black;
}

#gazprom
{
	height: 140px;
	width: 300px;
	background: url(../images/gazprom_dim.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	transition: 0.8s;
	display: inline-block;
}

#gazprom:hover
{
	height: 140px;
	width: 300px;
	background: url(../images/gazprom_color.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

#chiquita
{
	height: 140px;
	width: 120px;
	background: url(../images/chiquita_dim.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	transition: 0.8s;
	display: inline-block;
	margin: 0px 10px;
}

#chiquita:hover
{
	background: url(../images/chiquita_color.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

#dole
{
	height: 140px;
	width: 276px;
	background: url(../images/dole_dim.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	transition: 0.8s;
	display: inline-block;
	margin: 0px 10px;
}

#dole:hover
{
	background: url(../images/dole_color.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

#kanonersky
{
	height: 140px;
	width: 245px;
	background: url(../images/kanonersky_dim.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	transition: 0.8s;
	display: inline-block;
}

#kanonersky:hover
{
	background: url(../images/kanonersky_color.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

#spb_logo
{
	height: 248px;
	width: 1170px;
	background: url(../images/spb.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	display: inline-block;
	margin: 0px auto;
}

#footer
{
	width: 1170px;
	height: 160px;
	margin: auto;
	margin-top: -4px;
	padding-top: 20px;
	background: blue;
	position: relative;
	background-image: linear-gradient(180deg, #002f59 20%, #00457c 60%);
	background-image: -moz-linear-gradient(top, #002f59 20%, #00457c 60%);
	background-image: -webkit-linear-gradient(top, #002f59 20%, #00457c 60%);
	background-image: -o-linear-gradient(top, #002f59 20%, #00457c 60%);
	background-image: -ms-linear-gradient(top, #002f59 20%, #00457c 60%);
}

#nt-bottom-logo
{
	height: 80px;
	width: 400px;
	margin: 0px 100px 0px 25px;
	display: inline-block;
	float: left;
}

.footer_block
{
	display: inline-block;
	width: 130px;
	height: 80px;
	border-right: 1px solid #4d6f89;
	float: left;
}

.footer_block_third
{
	display: inline-block;
	width: 300px;
	height: 80px;
	float: left;
	color: #fff;
	font-family: HelveticaNeueCyr;
	line-height: 16px;
	letter-spacing: 1px;
	text-decoration: none;
	line-height: 26px;
	float: left;
}

.link_footer
{
	color: #fff;
	font-family: HelveticaNeueCyr;
	line-height: 16px;
	letter-spacing: 1px;
	text-decoration: none;
	line-height: 26px;
	margin-left: 25px;
}

.link_footer:hover
{
	text-decoration: underline;
}

.footer_block_third span
{
	float: left;
	margin-left: 25px;
}

#copy
{
	color: #fff;
	font-family: HelveticaNeueCyr;
	line-height: 16px;
	letter-spacing: 1px;
	margin: 40px 0px 10px 30px;
}

#empty_bottom
{
	margin: 30px 0px 0px 0px;
	width: 100%;
	height: 50px;
	background: #ebf5ff;
}

.zero
{
	width: 0px;
	height: 0px;
}

#dart
{
	display: inline-block;
	float: right;
	background: url(../images/dart.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	width: 80px;
	height: 26px;
	position: absolute;
	right: 15px;
	bottom: 20px;
	transition: 0.2s;
}

#dart:hover
{
	background: url(../images/DARTwhite.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}