*
{
	outline: none;
}

body
{
	margin: 0px;
}

#navbar
{
	width: 100%;
	height: 90px;
	background: #fff;
	position: relative;
	min-width: 1025px;
}

.bars.fa
{
	display: none;
}

#mainlogo
{
	height: 60px;
	margin: 15px 20px 15px 0px;
	float: left;
}

#navUni #navlist
{
	float: left;
	margin: 0px 0px 0px 20px;
	padding-left: 10px;
}

#navUni
{
	width: 1035px;
	height: 90px;
	margin: 0px auto;
}

#navUni #navlist .navmenu
{
	display: inline-block;
	font-family: RalewaySemibold;
	line-height: 90px;
	margin: 0px 15px;
}

.navmenu a
{
	color: #414141;
	text-decoration: none;
	transition: 0.3s;
}

.navmenu a:hover
{
	color: #63c399;
}

#header
{
	width: 100%;
	background: url(../images/connectForm.png) no-repeat center top;
	-moz-background-size: cover;
	background-size: cover;
	position: relative;
	margin-top: 0px;
}

.whiteTopic
{
	margin: 0px auto;
	text-align: center;
	width: 900px;
	color: #fff;
	font-family: RalewayRegular;
	padding-top: 50px;
}

.whiteTopic.firstTp
{
	font-size: 31px;
}

.masterTop.whiteTopic
{
	font-size: 31px;
}

.whiteTopic.easyFast
{
	padding-top: 60px;
}

.medTopic
{
	font-family: RalewaySemibold;
	color: #414141;
	text-align: center;
	margin-bottom: 8px;
	font-size: 24px;
	margin-top: 10px;
}

.blackTopic
{
	text-align: center;
	width: 100%;
	color: #414141;
	font-family: RalewayRegular;
	font-size: 36px;
	padding-top: 20px;
	margin-bottom: 10px;
	margin-top:0px;
	font-weight: 700;
	margin-top: 30px;
}

.subBlackTopic
{
	font-family: OpenSans;
	color: #9f9f9f;
	text-align: center;
	font-size: 16px;
	margin: 16px auto 18px;
}

.vSubtext
{
	color: #9f9f9f;
	font-family: RalewayRegular;
	text-align: center;
	font-size: 15px;
}

.subtextWhite
{
	color: #ccc;
	font-family: RalewayLight;
	text-align: center;
	font-size: 12px;
	padding: 20px 0px 0px 25px;
	font-size: 16px;
	letter-spacing: 1px;
}

#connectHeader
{
	width: 1000px;
	height: 365px;
	background: rgba(99, 195, 153, 0.8);
	margin: 40px auto;
	border-radius: 7px;
}

#whatDo
{
	width: 920px;
	height: 45px;
	font-family: RalewaySemibold;
	color: #414141;
	background: #ededec;
	border-radius: 7px 7px 0px 0px;
	line-height: 45px;
	font-size: 22px;
	padding: 5px 40px;
	font-weight: 700;
}

.formspanel
{
	width: 920px;
	margin: 20px 40px;
}

.formlab
{
	font-family: RalewaySemibold;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 2px;
}

.textField[type="text"]
{
	display: block;
	margin: 5px 0px;
	width: 890px;
	height: 40px;
	padding: 0px;
	outline: none;
	border: 0px;
	border-radius: 7px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: RalewaySemibold;
	color: #414141;
	font-size: 14px;
}

.textField
{
	display: block;
	margin: 5px 0px;
	width: 890px;
	height: 80px;
	padding: 10px 15px;
	outline: none;
	border: 0px;
	border-radius: 7px;
	font-family: RalewaySemibold;
	color: #414141;
	font-size: 14px;
	resize: none;
}

.whiteButton
{
	height: 45px;
	text-decoration: none;
	font-family: RalewaySemibold;
	background: none;
	outline: none;
	border: 2px solid #fff;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	letter-spacing: 1px;
	margin: 50px auto;
	display: block;
	transition: 0.3s;
}

.whiteButton:hover
{
	background: #fff;
	color: #414141;
}

.yButton
{
	height: 45px;
	text-decoration: none;
	font-family: RalewaySemibold;
	background: none;
	outline: none;
	border: 2px solid #ffb837;
	border-radius: 5px;
	color: #ffb837;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	letter-spacing: 1px;
	display: block;
	transition: 0.3s;
}

.whiteButton:hover
{
	background: #fff;
	color: #414141;
}

.yButton:hover
{
	background: #ffb837;
	color: #fff;
}

.yButton.ySubFun.srcGood
{
	margin-right: 0px;
}

#HowWorks
{
	margin: 30px 0px;
	display: inline-block;
}

#HowWorks.whiteButton
{
	margin-right: 8px;
}

.ySubFun
{
	margin: 30px 8px;
	display: inline-block;
}

#sendapp
{
	float: right;
	width: 600px;
	height: 100px;
	position: relative;
	margin-bottom: 30px;
	margin-top: 15px;
	font-weight: 700;
}

#freeapp
{
	width: 253px;
	height: 70px;
	margin-top: 10px;
}

.masterApp
{
	width: 545px;
	margin-top: 7px;
}

.freeDesc.masterDesc
{
	margin-left: 20px;
	width: 250px;
}

.freeTopic
{
	font-family: RalewaySemibold;
	color: #ffb837;
	font-size: 24px;
	font-weight: 700;
}

.freeDesc
{
	margin: 0px;
	color: #fff;
	font-family: RalewayRegular;
	letter-spacing: 1px;
	font-weight: 200;
}

.yellowButton
{
	height: 45px;
	text-decoration: none;
	font-family: RalewayRegular;
	background: #ffb837;
	outline: none;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	border: 0px;
	padding: 0px 30px;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 700;
	transition: 0.3s;
}

.yellowButton:hover
{
	background: #f8b133;
}

#SendApp
{
	margin-top: 15px;
}

#arc
{
	height: 32px;
	width: 160px;
	position: absolute;
	top: 67px;
	left: 253px;
	background: url(../images/arc.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

#HowFast
{
	width: 1170px;
	height: 500px;
	margin: 0px auto;
}

.redLine
{
	width: 65px;
	size: 2px;
	margin: 15px auto;
}

#rowVan
{
	width: 1000px;
	height: 300px;
	margin: 35px auto;
}

.vantage
{
	width: 220px;
	height: 300px;
	display: inline-block;
}

.vantage.vanCen
{
	padding:0px 160px;
}

.vantage.vanRight
{
	float: right;
}

.roundIcon
{
	height: 170px;
	width: 170px;
	margin: 0px;
	margin: 0px 25px;
}

.advantage[advantage="mid"]
{
	margin: 0px 166px;
}

#services
{
	width: 100%;
	height: 960px;
	margin: 0px auto;
	background: url(../images/cool_bg.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

.servRow
{
	width: 950px;
	height: 260px;
	margin: 0px auto;
}

.oneService
{
	width: 220px;
	height: 220px;
	display: inline-block;
	text-decoration: none;
}

.leftServ.oneService
{
	padding-right: 70px;
}

.cenServ.oneService
{
	padding: 0px 70px;
}

.rightServ.oneService
{
	padding-left: 70px;
	float: right;
}

.serviceimg, .serviceimgColor
{
	width: 230px;
	height: 230px;
}

.servicename
{
	width: 220px;
	height: 40px;
	line-height: 40px;
	font-family: OpenSansBold;
	color: #414141;
	text-align: center;
	margin: 0px;
}

.serviceimg[servicePhoto="men_cl.png"]
{
	background: url(../images/men_bw.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	transition: 1s;
}

.serviceimg[servicePhoto="contractor_cl.jpg"]
{
	background: url(../images/contractor_bw.jpg) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	transition: 1s;
}

.frameServ
{
	width: 220px;
	height: 220px;
	overflow: hidden;
	position: relative;
}

.examplesGreen
{
	background: rgba(99, 195, 153, 0.9);
	width: 220px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	font-family: RalewaySemibold;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	letter-spacing: 1px;
	display: none;
}

.onePx
{
	height: 0px;
	width: 0px;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

#trythis
{
	width: 100%;
	height: 320px;
	margin: 0px auto;
	background: url(../images/FastBg.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	display: block;
}

.oneReview
{
	height: 360px;
	width: 350px;
	padding: 15px;
	display: inline-block;
	outline: none;
}

.reviewsString
{
	height: 320px;
	width: 100%;
	margin: 20px auto;
}

.clientPhoto
{
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 50%;

}

.aboutClient
{
	width: 250px;
	padding: 10px 30px 0px 0px;
	height: 35px;
	float:right;
}

.clientName
{
	font-family: RalewayRegular;
	font-size: 20px;
	color: #212121;
}

.clientsProf
{
	font-family: RalewayBold;
	font-size: 14px;
	color: #212121;
	letter-spacing: 1px;
}

.rev
{
	color: #86878b;
	font-family: OpenSans;
	font-size: 17px;
	padding: 10px;
	background: #f4f4f4;
	margin: 10px auto;
	margin-top: 16px;
	height: 115px;
}

.vote
{
	width: 110px;
	height: 30px;
	float: left;
	margin-top: 20px;
}

.bad
{
	color: #fff;
	font-family: RalewayBold;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #f24841;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	display: inline-block;
}

.good
{
	color: #fff;
	font-family: RalewayBold;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #63c399;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	margin: 0px 4px;
	display: inline-block;
}

.cool
{
	color: #fff;
	font-family: RalewayBold;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ffb837;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	display: inline-block;
}

.blueButton
{
	height: 35px;
	text-decoration: none;
	font-family: OpenSansSemibold;
	background: none;
	outline: none;
	border: 2px solid #018cd7;
	border-radius: 5px;
	color: #018cd7;
	cursor: pointer;
	transition: 0.3s;
	font-size: 16px;
	float:right;
	margin-top: 20px;
}

.blueButton:hover
{
	background: #018cd7;
	color: #fff;
}

.greenLink
{
	text-align: center;
	text-decoration: none;
	width: 100%;
	display: inline-block;
	margin: 30px auto;
	font-family: OpenSansSemibold;
	color: #63c399;
	font-size: 14px;
	transition: 0.3s;
}

.greenLinkFa
{
	color: #63c399;
}

.greenLinkReg
{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: OpenSansSemibold;
	color: #63c399;
	font-size: 14px;
	transition: 0.3s;
}

.greenLinkRegUnd
{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: OpenSansSemibold;
	color: #63c399;
	font-size: 14px;
	transition: 0.3s;
	cursor: pointer;
}

.greenLinkRegUnd.photo
{
	width: 150px;
	height: 20px;
	overflow: visible;
}

.greenLinkRegUnd .regUnd
{
	text-decoration: underline;
}

.whiteLink
{
	text-decoration: none;
	width: 100%;
	display: inline-block;
	margin: 30px auto;
	font-family: OpenSans;
	color: RGBA(255, 255, 255, 0.9);
	font-size: 15px;
	transition: 0.3s;
	margin: 2px 0;
}

.whiteLink:hover
{
	color: RGBA(255, 255, 255, 1);
	text-decoration: underline;
}

.greenLink:hover,.greenLinkReg:hover
{
	color: #71dbac;
}

#footer
{
	width: auto;
	height: 180px;
	background: #71dbac;
	display: block;
	margin-top: 0px;
	min-width: 1025px;
}

#footer.cabftr
{
	background: #414141;
}

#footer.footerAll.createList
{
	margin-top: 140px;
}

#footer.footerAll.regFooter
{
	margin-top: 100px;
}

.realMenu a
{
	color: #63c399;
}

.realMenu
{
	position: relative;
}

.navDot
{
	display: block;
	background: #63c399;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	top: 22px;
	left: 50%;
	margin-left: -3px;
}

#footerLeft
{
	width: 280px;
	height: 180px;
	margin: 0px 10px 0px 0px;
	float: left;
}

.whiteLogo
{
	width: 260px;
	margin-top: 30px;
}

.copy
{
	color: #fff;
	font-family: OpenSansSemibold;
	font-size: 10px;
	letter-spacing: 1px;
	padding-left: 5px;
	margin-top: 28px;
}

#footerSecond
{
	width: 150px;
	height: 150px;
	margin: 0px 10px 0px 80px;
	display: inline-block;
	padding-top: 30px;
	float: left;
}

#footerThird
{
	width: 220px;
	height: 150px;
	margin: 0px 10px 0px 60px;
	display: inline-block;
	padding-top: 30px;
	float: left;
}

#footerFourth
{
	width: 200px;
	height: 150px;
	margin: 0px 10px 0px 100px;
	display: inline-block;
	padding-top: 30px;
	float: left;
}

#footerFourth a
{
	color: rgba(255, 255, 255, 0.7);
	margin: 0px 10px;
	transition: 0.3s;
}


#footerFourth a:hover
{
	color: rgba(255, 255, 255, 1);
	margin: 0px 10px;
}

#footerFourth a#dart
{
	margin: 25px 0px 0px 80px;
}

#dart
{
	width: 120px;
	height: 45px;
	background: url(../images/DARTwhite.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	display: inline-block;
	transition: 0.4s;
	opacity: 0.6;
	margin: 25px 0px 0px 80px;
}

#dart:hover
{
	opacity: 1;
} 

#allfooters
{
	height: 180px;
	width: 1170px;
	margin: 0px auto;
}

/*orders*/

#ordHeader
{
	width: 100%;
	height: 395px;
	background: url(../images/ord_Bg.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

#ShowOrdTopic
{
	padding: 156px 0px;
	font-size: 36px;
	width: 800px;
}

#ShowRevTopic
{
	padding: 156px 0px;
	font-size: 36px;
	width: 600px;
}

#revHeader
{
	width: 100%;
	height: 395px;
	background: url(../images/rev_Bg.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

.typeJob
{
	background: #e6e6e6;
	height: 45px;
	line-height: 45px;
	padding: 0px;
	color: #414141;
	font-size: 14px;
	font-family: RalewayBold;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	position: relative;
	margin: 3px;
}

.JobRow
{
	margin: 6px 0px 0px 0px;
	padding-left: 0px;
}

#jobBlocks
{
	margin: 45px auto 0px;
	width: 1045px;
}

.jobTypeLink
{
	color: #414141;
	text-decoration: none;
	display: block;
	padding: 0px 15px;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jobTypeLink:hover
{
	color: #fff;
	background: #898989;
	
}

ul
{
	list-style-type: none;
}

.hoverMenu
{
	position: absolute;
	padding: 7px 5px;
	left: 0;
	z-index: 10;
	display: none;
	background: #ffb837;
}

.hoverMenu li
{
	text-align: left;
	width: 268px;
	padding: 8px;
	height: 16px;
	line-height: 16px;
	font-family: RalewayRegular;
	font-size: 15px;
}

.hoverMenu li a
{
	color: #414141;
	text-decoration: none;
}

.hoverMenu li a:hover
{
	border-bottom: 2px solid #fff;
}

.ThSpace
{
	height: 3px;
}

#lastOrders, #lastReviews, #lastWorking, #listMasters
{
	width: 100%;
	margin-top: 50px;
}

#userReviews
{
	width: 1170px;
	margin: 60px auto;
}

.oneOrder
{
	width: 1170px;
	height: 180px;
	margin: 15px auto 30px;
}

.orderTime
{
	color: #63c399;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 0px 25px;
	float:left;
}

.typeBuild
{
	color: #414141;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 0px 25px;
	float:right;
}

.orderInf
{
	width: 1170px;
	height: 150px;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	margin-top: 8px;
}

.orderTitle
{
	color: #414141;
	font-family: RalewayBold;
	font-size: 16px;
	float:left;
	margin: 15px 0px 0px 25px;
	text-decoration: none;
}

.orderTitle:hover
{
	text-decoration: underline;
}

.orderPrice
{
	float:left;
	margin: 13px 0px 0px 10px;
	height: 14px;
	padding: 5px 16px;
	background: #63c399;
	color: #fff;
	border-radius: 7px;
}

.orderLocation
{
	color: #ffb837;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 0px 25px;
	float:right;
	margin: 15px 26px 0px 0px;
}

.aboutOrder
{
	color: #414141;
	font-size: 16px;
	font-family: RalewayRegular;
	margin: 18px 20px;
}

.customer
{
	color: #414141;
	font-size: 16px;
	font-family: RalewayRegular;
	margin: 0px 0px 0px 20px;
	float: left;
	display: inline-block;
}

.customerName
{
	color: #414141;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 0px 16px 16px 0px;
	float: right;
	display: inline-block;
}

.aboutCustomer
{
	width: 100%;
}

.orderDots
{
	display: inline-block;
	height: 18px;
	overflow: hidden;
	letter-spacing: 8px;
	font-family: Roboto;
	color: #e6e6e6;
	font-weight: 900;
	margin: 0px 5px;
	font-size: 18px;
	line-height: 12px;
}

.yellowBigBtn
{
	color: #feba40;
	display: block;
	width: 1166px;
	height: 40px;
	margin: 50px auto;
	border: 2px solid #feba40;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	border-radius: 7px;
	font-family: OpenSansSemibold;
	font-size: 14px;
	transition: 0.3s;
}

.yellowBigBtn:hover
{
	background: #feba40;
	color: #fff;
}

#pageNav
{
	height: 37px;
	margin: 60px auto;
	position: relative;
}

.navNum
{
	width: 35px;
	height: 35px;
	border: 1px solid #e8e8e8;
	font-family: OpenSans;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	border-radius: 7px;
	margin: 0px 10px;
	text-decoration: none;
	display: inline-block;
	transition: 0.3s;
	color: #414141;
}

.navNum:hover
{
	border: 1px solid #febe4b;
}

.realNum
{
	border: 1px solid #febe4b;
}

.leftArrow
{
	position: absolute;
	left: -45px;
	margin-top: 2px;
	color: #e8e8e8;
	transition: 0.3s;
}

.rightArrow
{
	position: absolute;
	right: -45px;
	top: 0px;
	margin-top: 2px;
	color: #e8e8e8;
	transition: 0.3s;
}

.leftArrow:hover, .rightArrow:hover
{
	color: #9c9c9c;
}

#NavPadding
{
	width: 700px;
	height: 37px;
	margin: 60px auto;
}

.orderPrice .fa.fa-rub
{
	position: relative;
	top: -2px;
}

/*reviews*/

#userReviews
{
	width: 1170px;
	margin: 0px auto;
}

.c1Review
{
	width: 522px;
	display: inline-block;
	float: left;
	margin-left: 20px;
}

.c2Review
{
	width: 522px;
	display: inline-block;
	float: right;
	margin-right: 20px;
}

.userRev
{
	width: 522px;
	display: inline-block;
	margin-bottom: 45px;
}

.revText
{
	width: 500px;
	background: #f4f4f4;
	padding: 11px;
	font-family: OpenSans;
	font-size: 16px;
	color: #86878b;
}

.customerSmall
{
	color: #414141;
	font-size: 16px;
	font-family: RalewayRegular;
	margin: 20px 0px 5px 0px;
	float: left;
	display: inline-block;
	position: relative;
}

.customerNameSmall
{
	color: #ffb837;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 20px 15px 5px 0px;
	float:right;
}

.smallCast
{
	position: relative;
}

.dotsSmall
{
	overflow: hidden;
	position: absolute;
	top: 14px;
	left: 70px;
	color: #414141;
	letter-spacing: 8px;
	font-family: Roboto;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	height: 28px;

}

.reviewTime
{
	color: #63c399;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 0px;
	float:left;
	margin-top: 22px;
}

.bbRev
{
	display: inline-block;
	margin: 0px;
	line-height: 35px;
	padding: 0px 15px;
	margin-top: 15px;
}

.contLoader
{
	width: 100%;
	height: 200px;
	line-height: 200px;
	text-align: center;
}

.contLoader i
{
	color: #f4f4f4;
}

/*working*/

.workString
{
	width: 1170px;
	height: 300px;
	margin: 60px auto;
}

.workOne
{
	width: 350px;
	height: 300px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	border-radius: 7px;
	margin: 0px auto;
}

.roomPhoto
{
	position: absolute;
	display: none;
}

.greenPhoto
{
	width: 350px;
	height: 60px;
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	line-height: 60px;
	text-align: center;
	background: rgba(99, 195, 153, 0.9);
	font-family: RalewayMedium;
	font-size: 20px;
	color: #fff;
}

/*masters*/

.mastersContainer
{
	width: 1170px;
	margin: 50px auto;
}

.oneMaster
{
	margin-bottom: 40px;
}


.oneMaster
{
	height: 515px;
	width: 100%;
	position: relative;
}

.masterMain
{
	height: 456px;
	width: 830px;
	border: 1px solid #e8e8e8;
	border-radius: 7px;
	display: inline-block;
	float: left;
	position: relative;
}

.masterPhoto
{
	width: 140px;
	height: 140px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	margin: 28px 20px 15px 28px;
	float: left;
}

.masterPhoto img
{
	position: absolute;
}

.masterName
{
	color: #414141;
	font-family: RalewayBold;
	font-size: 18px;
	float:left;
	margin: 0px 8px;
	text-decoration: none;
}

.masterName:hover
{
	text-decoration: underline;
}

.onlineDot
{
	display: inline;
	background: #63c399;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	left: 8px;
	top: 32px;
}

.masterOnline
{
	color: #86c29a;
	font-family: RalewayRegular;
	font-size: 18px;
	margin: 25px 0px 0px 8px;
	padding-left: 12px;
}

.masterInf
{
	width: 400px;
	float: left;
	margin: 28px 0px 0px 0px;
	position: relative;
}

.masterPost
{
	color: #414141;
	font-family: RalewayRegular;
	font-size: 18px;
	float:left;
	margin: 3px 8px;
}

.masterPricelist
{
	width: 603px;
	position: absolute;
	bottom: 230px;
	right: 0;
	margin-right: 30px;
}

.masterPhotos
{
	height: 230px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

}

.blodSubTopic
{
	color: #414141;
	font-family: RalewayBold;
	font-size: 18px;
	margin: 0px;
}

.regularSubTopic
{
	color: #414141;
	font-family: RalewayRegular;
	font-size: 18px;
	margin: 0px;
}

.regularSubTopic.masterItem
{
	display: inline-block;
}

.prTopic
{
	margin-bottom: 7px;
}

.masterCraft
{
	width: 644px;
	height: 20px;
	margin: 2px auto;
	position: relative;
}

.masterCraft.infCraft
{
	margin: 2px 0px;
	width: 700px;
}

.masterCraft.infCraft.craftPrice
{
	width: 150px;
	right: 0px;
}

.craftName
{
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
}

.craftPrice
{
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	right: 30px;
}

.mastDots
{
	width: 100%;
	overflow: hidden;
	height: 18px;
	letter-spacing: 8px;
	font-family: Roboto;
	color: #e6e6e6;
	font-weight: 900;
	font-size: 18px;
	line-height: 14px;
}

.voteMaster
{
	position: absolute;
	top: 180px;
	left: 36px;
}

.voteMaster .bad, .voteMaster .good, .voteMaster .cool
{
	width: 35px;
	height: 35px;
	line-height: 35px;
}

.masterWork
{
	width: 206px;
	height: 175px;
	display: block;
}

.roomMasterPhoto
{
	margin: 8px 60px;
}


#masterPslider
{
	width: 700px;
	height: 175px;
	margin: 0px auto;
}

#masterPslider .masterWork
{
	height: 175px;
	width: 206px;
	overflow: hidden;
	margin: 0px 15px;
}

#masterPslider .masterWork img
{
	display: none;
}

#masterPslider .masterWork .greenPhoto
{
	height: 40px;
	width: 206px;
	margin: 0px auto;
	line-height: 40px;
}

.nextArrow
{
	color: #e7e7e7;
	position: absolute;
	top: 55px;
	left: 712px;
	cursor: pointer;
	transition: 0.3s;
}

.lastArrow
{
	color: #e7e7e7;
	position: absolute;
	top: 55px;
	left: -35px;
	cursor: pointer;
	transition: 0.3s;
}

.nextArrow:hover, .lastArrow:hover
{
	color: #9b9b9b;
}

.masterLocation
{
	position: absolute;
	right: -5px;
	top: 13px;
}

.blueButton.master
{
	line-height: 35px;
	position: absolute;
	bottom: 0;
	right: 340px;
	padding: 0px 10px;
}

.randomReview
{
	width: 315px;
	height: 515px;
	float: right;
}

.rrevCont
{
	width: 100%;
	height: 456px;
	border: 1px solid #e8e8e8;
	border-radius: 7px;
}

.topRandRev
{
	width: 100%;
	height: 56px;
	line-height: 56px;
	font-size: 18px;
	color: #fff;
	font-family: RalewayBold;
	background: rgba(99, 195, 153, 1);
	border-radius: 7px 7px 0px 0px;
}

.topRandRev span
{
	margin-left: 25px;
}

.randReviewText
{
	width: 279px;
	padding: 20px 10px 0px 25px;
	height: 270px;
	overflow: auto;
}

.authorRandomRev
{
	margin: 35px 0px 0px 25px;
}

.dateRandomRev
{
	margin: 5px 0px 0px 25px;
}

.redLink
{
	color: #ffb837;
	font-family: RalewayBold;
	font-size: 16px;
	text-decoration: none;
}

.redLink:hover
{
	text-decoration: underline;
}

.randomViewLink
{
	float: right;
	position: inline-block;
	margin: 38px 32px 0px 0px;
	line-height: 22px;
}

.wVallRevs
{
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
	margin: 10px 0px 5px 0px;
}

/*regisrt*/

#contRegContaioner
{
	width: 1000px;
	margin: 25px auto;
}

#addOrderContainer
{
	width: 1000px;
	margin: 25px auto;
}

#addOrdForm
{
	width: 920px;
}

.smallTopic.regC
{
	float: left;
}

.redLine.regC
{
	margin: 35px 0px;
}

.smallTopic
{
	text-align: center;
	color: #414141;
	font-family: RalewayBold;
	font-size: 24px;
}

.regHr
{
	display: block;
	width: 65px;
}

#step1Reg
{
	width: 660px;
	height: 100%;
	margin: 25px 0px;
	position: relative;
}

.usLab
{
	line-height: 16px;
	font-size: 16px;
	font-family: RalewayBold;
	color: #414141;
	margin: 0px;
}

.usField
{
	width: 280px;
	height: 35px;
	border-radius: 7px;
	border: 1px solid #cdcdcd;
	font-size: 16px;
	font-family: OpenSans;
	color: #414141;
	padding: 0px 10px;
	outline: none;
}

.usFieldMed
{
	width: 900px;
	height: 35px;
	border-radius: 7px;
	border: 1px solid #cdcdcd;
	font-size: 16px;
	font-family: OpenSans;
	color: #414141;
	padding: 0px 10px;
	outline: none;
}

.usFieldMedHalf
{
	width: 420px;
	height: 35px;
	border-radius: 7px;
	border: 1px solid #cdcdcd;
	font-size: 16px;
	font-family: OpenSans;
	color: #414141;
	padding: 0px 10px;
	outline: none;
}

.addOrd.usFieldMed, .addOrd.usFieldMedHalf
{
	margin: 8px 0px 16px 0px;
}

.usFieldMed[textareatype="ta"]
{
	width: 890px;
	height: 150px;
	border-radius: 7px;
	border: 1px solid #cdcdcd;
	font-size: 16px;
	font-family: OpenSans;
	color: #414141;
	padding: 0px 10px;
	outline: none;
	resize: none;
	padding: 15px;
}

.usFieldMed.addOrd[textareatype="ta"]
{
	margin-bottom: 2px;
}

.usField.reg1Left
{
	display: block;
	margin: 4px 0px 15px 0px;
}

.usField:invalid,input:invalid
{
	box-shadow: none;
}

.TRowReg1
{
	width: 660px;
	margin: 15px 0px;
}

.emailAligment
{
	float: right;
	margin-top: 4px;
}

.regularSubTopic[for], .regularSubTopic.sml
{
	font-size: 14px;
}

.regularSubTopic.md
{
	font-size: 16px;
}

.greenLinkReg.Label
{
	font-family: RalewayRegular;
}

.yellowButton.sml
{
	display: inline-block;
	padding: 0px 15px;
	height: 40px;
	position: static;
	margin: 20px 0px;
	float: left;
	display: inline-block;
}

.infoUser
{
	font-size: 14px;
	color: #cdcdcd;
	font-family: OpenSansSemibold;
	float: left;
	display: inline-block;
	margin: 31px 10px;

}

.Reg1Right
{
	margin-top: 4px;
}

#navbar.shd
{
	box-shadow: 0 4px 2px -2px #cacaca;
}

#step2Reg
{
	display: none;
}

.reg2row1
{
	width: 880px;
	height: 62px;
}

.Reg2Top
{
	margin: 4px 5px 4px 0px;
	width: 230px;
	display: inline-block;
}

.reg2row1 .allField
{
	width: 280px;
	height: 62px;
	display: inline-block;
	float: left;
}

.reg2row2
{
	margin-top: 15px;
}

.reg2row2 input[type="text"]
{
	margin-top: 4px;
}

#workForm
{
	margin-top: 25px;
	display: inline-block;
	float: left;

}

.oneWorkForm input[type="radio"]
{
	float: left;
	margin-left: 0px;
	margin-top: 3px;
}

.oneWorkForm
{
	margin-top: 10px;
	display: inline-block;
	margin-right: 10px;
}

#avatarUpl
{
	width: 700px;
	margin-top: 100px;
	position: relative;
}

.uplCont
{
	width: 140px;
	height: 140px;
	margin-top: 30px;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	float: left;
}

.preUplPhoto
{
	position: absolute;
	opacity: 0.6;
}

#photoLaw
{
	width: 500px;
	height: 140px;
	display: inline-block;
	float: left;
	margin-top: 30px;
	padding-left: 20px;
}

.fileBtnMaster
{
	display: inline-block;
	float: left;
	height: 50px;
	position: absolute;
	left: 150px;
	top: 138px;
	z-index: 11;
	opacity: 0;
	cursor: pointer;
}

.greyLink
{
	color: #4c4740;
	font-family: RalewayRegular;
	font-size: 18px;
	text-decoration: none;
}

.greyLink:hover
{
	text-decoration: underline;
}

.uploadText
{
	display: block;
	position: absolute;
	top: 165px;
	left: 160px;
}

#jobBlocks.reg
{
	display: block;
	margin-top: 30px;
	margin-bottom: 25px;
}

.specCh
{
	margin-top: 220px;
}

.typeJob.left
{
	margin-left: 0px;
}

#jobBlocks.reg .JobRow .typeJob span:hover
{
	background: #e6e6e6;
	color: #414141;
}

.typeJob input
{
	display: none;
}

.userError
{
	line-height: 16px;
	font-size: 16px;
	font-family: RalewayBold;
	color: #b91c1c;
	margin: 25px auto 5px;
}

textarea:invalid
{
	box-shadow:none;
}

.addfilesLink
{
	width: 320px;
	height: 20px;
	float: right;
	position: relative;
	margin-top: 6px;
}

.addfilesLink div
{
	position: absolute;
	top: 0px;
	z-index: 11;
}

.fileHideOrd
{
	width: 150px;
	height: 40px;
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 14;
	cursor: pointer;
}

.financeOrder
{
	display: block;
	width: 500px;
	margin: 20px 0px;
}

.financeOrder input
{
	margin: 6px 2px 16px 0px;
}

.makeOrdColLeft
{
	width: 440px;
	float:left;
}

.makeOrdColRight
{
	width: 440px;
	float: right;
}

/*navbar cab*/

#navbarCab
{
	width: 100%;
	height: 90px;
	background: #fff;
	position: relative;
	min-width: 1025px;
}

#navUniCab
{
	width: 1070px;
	height: 90px;
	margin: 0px auto;
	position: relative;
}

#navUniCab #navlist
{
	float: left;
	margin: 0px;
	padding-left: 0px;
}


#navUniCab #navlist .navmenu
{
	display: inline-block;
	font-family: RalewaySemibold;
	line-height: 90px;
	margin: 0px 15px;
}

#navbarCab.shd
{
	box-shadow: 0 4px 2px -2px #cacaca;
}

#cabMain
{
	height: 800px;
	width: 1070px;
	margin: 25px auto;
}

.fullAccess
{
	background: #63c399;
	border-radius: 4px;
	padding: 2px 7px;
	text-decoration: none;
	font-family: RalewaySemibold;
	color: #fff;
	font-size: 16px;
	margin: 34px 15px 33px;
	float: right;
}

.cabinetTopUser
{
	float: right;
	line-height: 90px;
}

.cabinetTopUser img
{
	width: 40px;
	height: 40px;
	border-radius: 4px;
	margin: 25px 12px;
}

.cabinetTopUser span
{
	float: right;
	font-family: RalewaySemibold;
	color: #414141;
}

.cabinetTopUser span i
{
	float: right;
	line-height: 90px;
	margin: 0px 8px;
}

.cabMasterPanel
{
	width: 290px;
	height: 160px;
	border: 2px solid #e6e6e6;
	background: #fff;
	top: 80px;
	right: 0px;
	position: absolute;
	display: none;
	z-index: 10;
}

.freeCab
{
	height: 40px;
	width: 145px;
	line-height: 40px;
	float: left;
	color: #414141;
	font-family: OpenSans;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}

.busyCab
{
	height: 40px;
	width: 145px;
	line-height: 40px;
	float: right;
	color: #414141;
	font-family: OpenSans;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}

.CabPnItem
{
	height: 38px;
	border-top: 2px solid #e6e6e6;
	color: #414141;
	line-height: 38px;
	width: 100%;
	display: inline-block;
	font-family: OpenSans;
	font-size: 16px;
	text-decoration: none;
	transition: 0.3s;
}

.CabPnItem:hover
{
	background: #e6e6e6;
}

.CabPnItem i 
{
	margin: 0px 12px;
}

.freeCab.grn
{
	background: #63c399;
	color: #fff;
}

.relPn
{
	position: relative;
}

.trForPn
{
	width: 23px;
	height: 30px;
	position: absolute;
	background: url(../images/trShd.png) no-repeat center top;
	-moz-background-size: cover;
	background-size: cover;
	top: -30px;
	left: 240px;
	z-index: 11;
}

#hideAll
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 5;
	display: none;
}

#leftCab
{
	width: 245px;
	height: 500px;
	float: left;
}

.leftItem
{
	width: 205px;
	height: 45px;
	line-height: 45px;
	font-family: RalewaySemibold;
	text-decoration: none;
	color: #414141;
	display: inline-block;
	transition: 0.2s;
	padding-left: 40px;
}

.leftItem:hover, .leftItem.rlPage
{
	background: #e6e6e6;
}

#rightCab
{
	width: 700px;
	float: right;
	margin-top: -8px;
}

.smallTopic.myPg
{
	float: left;
	margin: 5px 0px 20px;
}

.editPg.myPg
{
	float: right;
	margin: 5px 0px 20px;
}

.editPg
{
	font-family: RalewayRegular;
	font-size: 24px;
	color: #e6e6e6;
	transition: 0.3s;
	text-decoration: none;
}

.editPg:hover
{
	color: #414141;
}

.strUserCab
{
	width: 100%;
	height: 45px;
	line-height: 45px;
	display: block;
}

.leftStrCab
{
	float: left;
	line-height: 45px;
}

.rightStrCab
{
	float: right;
	line-height: 45px;
	width: 500px;
}

#avatarUplCab
{
	width: 700px;
	position: relative;
}

.uplContCab
{
	width: 140px;
	height: 140px;
	margin-top: 20px;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	float: left;
}

#photoLawCab
{
	width: 400px;
	height: 140px;
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left: 60px;	
}

.fileBtnMasterCab
{
	display: inline-block;
	float: left;
	height: 50px;
	position: absolute;
	left: 200px;
	top: 120px;
	z-index: 11;
	opacity: 0;
	cursor: pointer;
}

.uploadTextCab
{
	display: block;
	position: absolute;
	top: 140px;
	left: 200px;
}

.preUplPhotoCab
{
	position: absolute;
}

.bottomDec
{
	border: 25px solid transparent;
	border-right: 25px solid #63c399;
	border-bottom: 25px solid #63c399;
	position: absolute;
	border-radius: 0px 0px 4px 0px;
	top: 111px;
	left: 91px;
}

.bottomDec i
{
	position: absolute;
	color: #fff;
}

.typeJob.categCab
{
	margin: 0px;
	float: left;
	display: inline-block;
	margin: 4px;
	width: 210px;
}

.typeJob.categCab span
{
	background: #63c399;
	color: #fff;
}	

.typeJob.categCab span:hover
{
	background: #63c399;
}

.masterWorkCab
{
	display: inline-block;
	height: 180px;
	width: 200px;
	overflow: hidden;
	margin: 15px 0px;
}

#rightCab .masterWorkCab .greenPhoto
{
	height: 40px;
	width: 200px;
	margin: 0px auto;
	line-height: 40px;
}

#rightCab.albm .masterWorkCab:nth-of-type(3n+3), .masterSubInfo .masterWorkCab:nth-of-type(3n+2)
{
	margin-left: 45px;
	margin-right: 45px;
}

.masterWorkCab.uplImg
{
	background: #e6e6e6;
	text-align: center;
	position: relative;
	transition: 0.3s;
}

.masterWorkCab.uplImg:hover
{
	background: #e0e0e0;
}

.masterWorkCab.uplImg i
{
	color: #4c4740;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -44px;
	margin-left: -25px;
}

.greySmlLink
{
	position: absolute;
	top: 110px;
	width: 200px;
	left: 0px;
	font-family: RalewayRegular;
	color: #4c4740;
	font-size: 14px;
	text-decoration: none;
}

.goodRevsTb
{
	width: 160px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #63c399;
	font-family: RalewaySemibold;
	font-size: 14px;
	transition: 0.3s;
	margin-bottom: 20px;
}

.goodRevsTb:hover,.goodRevsTb.realPg
{
	background: #63c399;
	color: #fff;
}

.badRevsTb
{
	width: 160px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #ffb837;
	font-family: RalewaySemibold;
	font-size: 14px;
	transition: 0.3s;
	margin: 0px 20px;
	margin-bottom: 20px;
}

.badRevsTb:hover,.badRevsTb.realPg
{
	background: #ffb837;
	color: #fff;
}

.allRevsTb
{
	width: 120px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #414141;
	font-family: RalewaySemibold;
	font-size: 14px;
	transition: 0.3s;
	margin-bottom: 20px;
}

.allRevsTb:hover,.allRevsTb.realPg
{
	background: #e6e6e6;
	color: #414141;
}

.cabinetRev
{
	width: 700px;
	display: inline-block;
	margin: 25px 0px;
	position: relative;
}

.cabinetRev .revText
{
	width: 700px;
}

.cabinetRev .smallCast .customerSmall
{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 11;
}

.cabinetRev .smallCast .customerNameSmall
{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 11;
	background: #f4f4f4;
}

.cabinetRev .smallCast .dotsSml
{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 10;

	overflow: hidden;
	position: absolute;
	top: 14px;
	left: 70px;
	color: #414141;
	letter-spacing: 8px;
	font-family: Roboto;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	height: 28px;
}

.cabinetRev .smallCast
{
	position: relative;
	height: 45px;
	margin-top: 15px;
}

.cabinetRev .fa-thumbs-o-up
{
	color: #63c399;
	cursor: pointer;
}

.cabinetRev .fa-thumbs-o-down
{
	color: #ffb837;
	cursor: pointer;
}

.cabinetRev .fa-2x
{
	position: absolute;
	top: -24px;
	right: -50px;
}

#FullAccessPn
{
	width: 270px;
	height: 120px;
	background: #fff;
	position: absolute;
	top: 80px;
	left: 586px;
	z-index: 11;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	display: none;
}

.hvAccessLeft
{
	font-family: OpenSansSemibold;
	color: #414141;
	font-size: 16px;
	margin: 14px 14px 0px 14px;
	float: left;
}

.greenLink.hvAcc
{
	font-size: 16px;
	float: right;
	text-align: right;
	display: inline;
	margin: 15px;
	width: auto;
}

.greenLink.hvAcc:hover
{
	text-decoration: underline;
}

.fullAccess.hvAcc
{
	width: auto;
	margin: 0px;
	float: right;
	margin-right: 14px;
}

.redLink.hvAcc
{
	font-family: RalewayRegular;
	float: right;
	margin: 12px 14px;
}

.trForPn.hvAcc
{
	left: 240px;
	top: -20px;
	z-index: 9;
	height: 20px;
}

.backToList
{
	width: 100%;
	height: 55px;
	line-height: 0px;
	position: relative;
}

.backToList a span
{
	font-family: OpenSans;
	color: #86878b;
	font-size: 16px;
	text-decoration: none;
	position: absolute;
	left: 40px;
	transition: 0.3s;
}

.backToList a i
{
	color: #e8e8e8;
	position: absolute;
	top: -15px;
	transition: 0.3s;
}

.masterMainInf
{
	width: 100%;
	position: relative;
}

.rightPhotoTopic,.infoHdr
{
	color: #414141;
	font-family: RalewayBold;
	font-size: 18px;
	float:left;
	text-decoration: none;
	width: 100%;
}

.masterInf .rightPhotoTopic
{
	margin: 0px 8px;
}

.masterMainInf .voteMaster
{
	left: 8px;
}

.blueButton.masterInf
{
	line-height: 35px;
	position: absolute;
	top: 150px;
	right: 0px;
	padding: 0px 10px;
	width: 180px;
	text-align: center;
}

.masterSubInfo
{
	width: 100%;
	margin-top: 80px;
}

.greenTopic
{
	color: #63c399;
	font-family: RalewaySemibold;
	font-size: 18px;
	margin: 0px;
}

.oneServMaster
{
	margin: 25px 0px;
}

.voteMaster.infMas
{
	width: 140px;
	left: 0px;
}

.good.central
{
	margin: 0px 13px; 
}

@media screen and (max-width: 1024px) {
	body
	{
		min-width: 320px;
	}

	#navUni,#footer,#allfooters,#navbar,#allfooters,#HowFast,#navbar,#connectHeader,#whatDo,#freeapp,#sendapp,#rowVan,.servRow,.formspanel,#trythis,#ShowOrdTopic,.JobRow,.oneOrder,.orderInf,.yellowBigBtn,.typeJob,#jobBlocks,#ShowRevTopic,#revHeader,.workString, #userReviews,.userRev,.revText,.c1Review,#connectHeader,.oneMaster,.masterMain,.randomReview,.orderLocation.masterLocation,.randomReview,.topRandRev,.masterPricelist,.mastersContainer,.masterCraft,#masterPslider,.masterApp .sendapp,.rev,.aboutClient,.masterInf,#addOrdForm,#addOrderContainer,.financeOrder,.makeOrdColLeft,.makeOrdColRight,#contRegContaioner,#step1Reg,#step2Reg,.reg2row1,.reg2row1 .allField,#avatarUpl,.regularSubTopic.sml,#photoLaw
	{
		width: auto;
		min-width: auto;
	}

	#rowVan,#HowFast,#services,.servRow,#footer,#allfooters,.formspanel,#trythis,#ordHeader,#ShowOrdTopic,.JobRow,.oneOrder,.orderInf,.yellowBigBtn,.typeJob,#jobBlocks,#ShowRevTopic,#revHeader,.workString, #userReviews,.userRev,.revText,.c1Review,.oneMaster,.masterMain,.randomReview,.orderLocation.masterLocation,.topRandRev,.masterPricelist,.mastersContainer,.masterCraft,.rev,#freeapp,#addOrdForm,#addOrderContainer,.financeOrder,.makeOrdColLeft,.makeOrdColRight,#contRegContaioner,#step1Reg,#step2Reg,.reg2row1,.reg2row1 .allField,#avatarUpl,#photoLaw,.regularSubTopic.sml
	{
		height: auto;
		min-height: auto;
	}

	#allfooters
	{
		width: 100%;
	}

	#navbar
	{
		box-shadow: 0 10px 20px rgba(210,210,210,0.19), 0 6px 6px rgba(210,210,210,0.23);
	}

	#mainlogo
	{
		margin: 25px 0px 25px 15px;
		height: 40px;
	}
	
	#freeapp
	{
		margin: 15px;
		text-align: center;
	}

	.whiteTopic.firstTp
	{
		padding-top: 0px;
		width: 96%;
		margin: 0px auto;
	}

	#navUni #navlist .navmenu
	{
		display: block;
		clear: both;
	}

	.navmenu
	{
		border-bottom: 1px solid #7a7a7a;
	}

	#navlist
	{
		display: block;
		clear: both;
		width: 100%;
		height: 0px;
		overflow: hidden;
		transition: 0.5s;
		background: #fff;
	}

	#navUni #navlist
	{
		margin: 0px;
		padding: 0px;
	}

	#header
	{
		background: none;
		margin-top: 25px;
	}

	.whiteTopic
	{
		color: #414141;
		width: auto;
		line-height: 40px;
	}

	.masterTop.whiteTopic
	{
		padding-top: 10px;
	}

	#header
	{
		display: block;
		clear: both;
	}

	.bars.fa
	{
		display: inline-block;
		float: right;
		color: #414141;
		margin: 20px;
	}

	.formspanel
	{
		margin: 0px;
		width: 95%;
		margin: 25px auto;
	}

	.textField[type="text"]
	{
		width: auto;
		position: relative;
		width: 98%;
		margin-right: 0px;
		margin-left: 0px;
		padding: 0px;
		padding-left: 1%;
	}

	.textField
	{
		width: auto;
		position: relative;
		width: 98%;
		margin-right: 0px;
		margin-left: 0px;
		padding: 1%;
	}

	.formlab
	{
		font-size: 16px;
	}

	.whiteButton
	{
		border-color: #a5a5a5;
		color: #a5a5a5;
	}

	#HowWorks.whiteButton
	{
		display: block;
		clear: both;
		margin: 65px auto 15px;

	}

	#connectHeader
	{
		display: block;
		clear: both;
		width: 96%;
		margin: 40px auto;
	}

	#arc
	{
		display: none;
	}


	.freeDesc
	{
		color: #414141;
		display: block;
		width: 100%;
	}

	#SendApp[type="submit"]
	{
		margin: 15px;
		position: static;
		clear: both;
		margin: 25px auto;
		display: block;
	}

	#HowFast
	{
		margin-top: 50px;
	}

	.vantage
	{
		display: block;
		clear: both;
		margin: 10px auto 25px;
	}

	.vantage.vanCen
	{
		padding: 0px;
	}

	.vantage.vanRight
	{
		float: none;
	}

	.leftServ.oneService
	{
		padding: 0px;
	}

	.cenServ.oneService
	{
		padding: 0px;
	}

	.rightServ.oneService
	{
		padding: 0px;
		float: none;
	}

	.oneService
	{
		display: block;
		clear: both;
		margin: 60px auto;
	}

	.oneService:nth-of-type(1)
	{
		margin-top: 45px;
	}

	#services
	{
		background: none;
	}

	.whiteTopic.easyFast
	{
		color: #ccc;
		line-height: 24px;
		font-size: 20px;
	}

	#footerLeft
	{
		display: block;
		clear: both;
		height: 160px;
		width: 100%;
		text-align: center;
		margin-right: 0px;
	}

	.whiteLogo
	{
		margin: 25px auto 0px;
	}

	.copy
	{
		position: absolute;
		width: 100%;
		text-align: center;
		font-size: 14px;
		right: 0px;
		padding-left: 0px;
	}

	#footerSecond, #footerThird
	{
		margin: 0px auto;
		padding: 0px;
		height: auto;
		display: block;
		float: none;
		width: 180px;
	}

	#footerFourth
	{
		margin: 15px auto;
		text-align: center;
		width: 100%;
		height: 120px;
	}

	.blackTopic,.subBlackTopic
	{
		width: 90%;
		margin: 0px auto;
	}

	.catTopicWord.blackTopic
	{
		margin-top: 40px;
	}

	#tryThis.whiteButton
	{
		display: block;
		clear: both;
		margin: 25px auto;
	}

	div#trythis
	{
		padding-bottom: 1px;
	}

	li.realMenu .navDot
	{
		display: none;
	}

	#ordHeader
	{
		display: block;
		clear: both;
	}

	#ShowOrdTopic
	{
		color: #fff;
		padding: 50px 0px;
	}

	.typeJob
	{
		display: block;
		clear: both;
		width: 150px;
	}

	.orderTime
	{
		margin: 15px;
		display: block;
	}

	.orderPrice
	{
		margin-left: 25px;
	}

	.orderLocation
	{
		width: 94%;
		text-align: right;
		margin-top: 0px;
		margin-top: 25px;
	}

	.aboutCustomer
	{
		margin-bottom: 5px;
	}

	.navNum
	{
		display: none;

	}

	.realNum
	{
		display: block;
	}

	#NavPadding,#pageNav
	{
		width: 120px;
		clear: both;
	}

	.realNum
	{
		margin: 0px auto;
	}

	.typeJob
	{
		width: 90%;
		margin: 5px auto;
	}

	#ShowRevTopic
	{
		color: #fff;
		padding: 50px 0px;
	}

	#revHeader
	{
		display: block;
		clear: both;
	}

	.workOne
	{
		clear: both;
		margin-bottom: 25px;
	}

	.workString
	{
		margin: 0px auto;
		display: block;
		text-align: center;
	}

	.c1Review
	{
		width: 96%;
		margin-left: 2%;
	}

	.c2Review
	{
		width: 96%;
		margin-left: 2%;
		float: none;
		margin-right: 0px;
	}

	.smallCast .dotsSmall
	{
		display: none;
	}

	.reviewTime
	{
		margin-left: 10px;
	}

	.contLoader
	{
		height: 150px;
		line-height: 120px;
	}

	#connectHeader .yButton.ySubFun
	{
		margin-right: 0px;
		margin-left: 0px;
	}

	#connectHeader #HowWorks
	{
		float: right;
		margin-top: 50px;
	}

	.masterMain,.randomReview,.orderLocation.masterLocation,.masterPhoto,.voteMaster
	{
		float: none;
		display: block;
		clear: both;
	}

	.orderLocation.masterLocation
	{
		margin-top: 0px;
	}

	.masterPhoto
	{
		margin-top: 40px;
	}

	.voteMaster
	{
		top: 190px;
	}

	.randomReview
	{
		margin-top: 25px;
	}

	.masterPhotos
	{
		position: static;
	}

	.masterPricelist
	{
		position: static;
		display: block;
		margin-right: 0px;
		margin-left: 8px;
	}

	.masterInf
	{
		margin: 60px auto;
		float: none;
		display: block;
	}

	.masterOnline,.masterName
	{
		display: block;
		float: none;
		margin-top: 5px;
	}


	.mastDots
	{
		display: none;
	}

	.craftName
	{
		position: static;
		display: inline;
		font-size: 14px;
	}
	
	.craftPrice
	{
		position: static;
		float: right;
		font-size: 14px;
		margin-right: 4px;
	}

	.masterMain,.oneMaster,.randomReview
	{
		width: 96%;
		margin-left: 2%;
	}

	.workOne.masterWork
	{
		display: inline-block;
		float: none;
	}

	.oneMaster
	{
		padding-bottom: 85px;
		margin-bottom: 25px;
	}

	.workOne.masterWork.slick-slide.slick-cloned,.workOne.masterWork.slick-slide
	{
		display: inline-block;
	}

	#masterPslider
	{
		margin: 25px 0px;
	}

	.roomMasterPhoto
	{
		margin: 25px 0px 0px 16px;
	}

	.randReviewText
	{
		width: 90%;
		padding-left: 20px;
		margin: 0px auto;
	}

	.wVallRevs
	{
		bottom: 0px;
		top: auto;
		right: 0px;
		left: 0px;
	}

	.blueButton.master
	{
		left: 0px;
		right: 0px;
		top: auto;
		bottom: 35px;
		width: auto;
		text-align: center;
		margin: 0px 10%;
	}

	.freeDesc.masterDesc
	{
		width: 96%;
		margin: 0px 2%;
	}

	#connectHeader a #HowWorks
	{
		margin: 50px auto 0px;
		float: none;
	}

	#connectHeader a .yButton.ySubFun
	{
		float: none;
		display: block;
		margin: 15px auto;
	}

	#jobCateg
	{
		margin-top: 20px;
	}

	.ThSpace,.hoverMenu
	{
		display: none;
		position: static;
	}
	
	.oneReview
	{
		width: 300px;
	}

	#whatDo
	{
		padding: 5px 10px;
	}

	.workString .workOne
	{
		display: block;
	}

	.whiteLink
	{
		margin: 4px 0px;
	}

	#footerFourth a
	{
		margin-top: 20px;
	}

	#footerFourth a#dart
	{
		display: block;
		margin: 15px auto 5px;
	}

	.catTopicWord.blackTopic
	{
		margin-top: 0px;
	}

	.typeBuild
	{
		margin: 0px auto 10px;
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	.orderTitle
	{
		width: 96%;
		margin-left: 2%;
		margin: 10px auto;
		text-align: center;
	}

	.beMaster
	{
		line-height: 24px;
		padding: 5px 0px;
		width: 96%;
		margin: 50px auto;
	}

	.customerName
	{
		color: #414141;
		font-family: RalewayBold;
		font-size: 16px;
		width: 95%;
		text-align:right;
		display: inline-block;
		margin-top: 8px;
	}

	.orderDots
	{
		display: none;
	}

	.orderInf
	{
		width: 96%;
		margin: 0px 2%;
	}

	#sendapp
	{
		width: 100%;
	}

	.masterMain .masterPhoto
	{
		margin: 40px auto 15px;
	}

	.voteMaster
	{
		left: 50%;
		margin-left: -61px;
	}

	.workString .workOne
	{
		width: 94%;
	}

	.workString .workOne .greenPhoto
	{
		width: 100%;
	}

	.bbRev
	{
		margin: 55px auto 0px;
		display: block;
		float: none;
		clear: both;
		width: 50%;
		text-align: center;
	}

	.usFieldMed.addOrd,.usFieldMedHalf.addOrd
	{
		width: auto;
		display: block;
	}

	.makeOrdColRight
	{
		float: none;
	}

	.smallTopic.regC
	{
		width: 100%;
		text-align: center;
	}

	.regHr
	{
		width: 100%;
	}

	.regHr .redLine.regC
	{
		margin: 35px auto;
	}

	#addOrdForm
	{
		width: 96%;
		margin-left: 2%;
		margin-right: 0px;
	}

	.usLab
	{
		font-size: 18px;
	}

	.usFieldMed.addOrd
	{
		width: 98%;
		padding: 1%;
	}

	.financeOrder .regularSubTopic
	{
		font-size: 16px;
		line-height: 20px;
		display: inline-block;
		margin-bottom: 10px;
		float: none;
		text-align: center;
		width: 96%;
		margin-left: 2%;
	}

	.greenLinkRegUnd.photo
	{
		right: 155px;
	}

	.financeOrder input
	{
		margin-bottom: 0px;
		display: block;
		margin: 25px auto 0px;
	}

	.usFieldMedHalf.addOrd
	{
		width: 98%;
		padding: 1%;
	}

	.regularSubTopic[for="Iagree"]
	{
		font-size: 16px;
	}

	.yellowButton.sml.createList
	{
		float: none;
		margin: 40px auto;
		display: block;
	}

	#footer.footerAll.createList
	{
		margin-top: 50px;
	}

	.makeOrdColLeft
	{
		width: 100%;
	}

	.emailAligment
	{
		float: none;
		margin-bottom: 15px;
	}

	#contRegContaioner .smallTopic.regC
	{
		margin-bottom: 20px;
	}

	.TRowReg1
	{
		width: 100%;
	}

	.usField.Reg1Right,.emailAligment .usField,.usField.reg1Left
	{
		width: 94%;
		margin-left: 2%;
		padding: 1%;
	}

	#step1Reg .usLab
	{
		width: 100%;
		text-align: center;
		display: block;
	}

	#step1Reg .yellowButton.sml
	{
		display: block;
		margin: 30px auto 15px;
		float: none;
	}

	#step1Reg .infoUser
	{
		display: block;
		margin: 15px auto;
		float: none;
		text-align: center;
	}

	#footer.footerAll.regFooter
	{
		margin-top: 40px;
	}

	.reg2row1 .allField,.reg2row2 .allField
	{
		width: 100%;
		margin-top: 15px;
	}

	.reg2row1 .allField label
	{
		margin-left: 15px;
	}

	.reg2row2 .allField label
	{
		width: 90%;
		text-align: left;
		display: inline-block;
		line-height: 25px;
		margin: 0px 0px 0px 15px;
	}

	.usField.Reg2Top,.reg2row2 .usField
	{
		width: 94%;
		margin: 2%;
		padding: 1%;
		display: block;
		clear: both;
	}

	#workForm .usLab
	{
		margin-left: 15px;
	}
	
	#workForm
	{
		width: 100%;
	}

	.oneWorkForm
	{
		display: block;
		width: 60%;
		clear: both;
		text-align: left;
		margin-left: 15px;
		font-size: 18px;
	}

	#step2Reg #avatarUpl
	{
		margin-top: 160px;
	}

	#step2Reg #avatarUpl .usLab
	{
		margin-left: 15px;
	}

	.uplCont
	{
		left: 50%;
		margin-left: -70px;
	}

	.fileBtnMaster
	{
		right: 0px;
		left: 0px;
		width: 100%;
		top: 180px;
	}

	.uploadText
	{
		right: 0px;
		left: 50%;
		margin-left: -80px;
		width: 160px;
		top: 200px;
	}

	#photoLaw
	{
		margin-top: 50px;
		width: 96%;
		padding-left: 2%;
	}

	.usLab.specCh
	{
		margin-top: 340px;
		text-align: center;
	}

	.typeJob.left
	{
		margin: 5px 5%;
	}

	.yellowButton.sml
	{
		display: block;
		float: none;
		margin: 20px auto;
	}

	.infoUser
	{
		margin: 0px auto;
		width: 100%;
		text-align: center;
	}

	.userError
	{
		width: 96%;
		padding: 25px 2% 5px;
		text-align: center;
	}
}