*
{
	outline: none;
}

body
{
	margin: 0px;
}

#navbar
{
	width: 100%;
	height: 90px;
	background: #fff;
	position: relative;
	min-width: 1025px;
}

#mainlogo
{
	height: 60px;
	margin: 15px 20px 15px 0px;
	float: left;
}

#navlist
{
	float: left;
	margin: 0px 0px 0px 20px;
	padding-left: 10px;
}

#navUni
{
	width: 1025px;
	height: height: 90px;
	margin: 0px auto;
}

.navmenu
{
	display: inline-block;
	font-family: RalewaySemibold;
	line-height: 90px;
	margin: 0px 15px;
}

.navmenu a
{
	color: #414141;
	text-decoration: none;
	transition: 0.3s;
}

.navmenu a:hover
{
	color: #63c399;
}

#header
{
	width: 100%;
	background: url(../images/connectForm.png) no-repeat center top;
	-moz-background-size: cover;
	background-size: cover;
	position: relative;
	margin-top: 0px;
}

.whiteTopic
{
	margin: 0px auto;
	text-align: center;
	width: 900px;
	color: #fff;
	font-family: RalewayRegular;
	font-size: 36px;
	padding-top: 50px;
}

.medTopic
{
	font-family: RalewaySemibold;
	color: #414141;
	text-align: center;
	margin-bottom: 8px;
	font-size: 24px;
	margin-top: 10px;
}

.blackTopic
{
	text-align: center;
	width: 100%;
	color: #414141;
	font-family: RalewayRegular;
	font-size: 36px;
	padding-top: 20px;
	margin-bottom: 10px;
	margin-top:0px;
	font-weight: 700;
	margin-top: 30px;
}

.subBlackTopic
{
	font-family: OpenSans;
	color: #9f9f9f;
	text-align: center;
	font-size: 16px;
	margin: 16px auto 18px;
}

.vSubtext
{
	color: #9f9f9f;
	font-family: RalewayRegular;
	text-align: center;
	font-size: 15px;
}

.subtextWhite
{
	color: #ccc;
	font-family: RalewayLight;
	text-align: center;
	font-size: 12px;
	padding: 20px 0px 0px 25px;
	font-size: 16px;
	letter-spacing: 1px;
}

#connectHeader
{
	width: 1000px;
	height: 365px;
	background: rgba(99, 195, 153, 0.8);
	margin: 40px auto;
	border-radius: 7px;
}

#whatDo
{
	width: 910px;
	height: 45px;
	font-family: RalewaySemibold;
	color: #414141;
	background: #ededec;
	border-radius: 7px 7px 0px 0px;
	line-height: 45px;
	font-size: 22px;
	padding: 5px 45px;
	font-weight: 700;
}

.formspanel
{
	width: 900px;
	margin: 20px auto;
}

.formlab
{
	font-family: RalewaySemibold;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 2px;
}

.textField[type="text"]
{
	display: block;
	margin: 5px 0px;
	width: 100%;
	height: 40px;
	padding: 0px;
	outline: none;
	border: 0px;
	border-radius: 7px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: RalewaySemibold;
	color: #414141;
	font-size: 14px;
}

.textField
{
	display: block;
	margin: 5px 0px;
	width: 100%;
	height: 80px;
	padding: 10px 15px;
	outline: none;
	border: 0px;
	border-radius: 7px;
	font-family: RalewaySemibold;
	color: #414141;
	font-size: 14px;
	resize: none;
}

.whiteButton
{
	height: 45px;
	text-decoration: none;
	font-family: RalewaySemibold;
	background: none;
	outline: none;
	border: 2px solid #fff;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	letter-spacing: 1px;
	margin: 50px auto;
	display: block;
}

.whiteButton:hover
{
	background: #fff;
	color: #414141;
}

#HowWorks
{
	margin: 30px 0px;
}

#sendapp
{
	float: right;
	width: 600px;
	height: 100px;
	position: relative;
	margin-bottom: 30px;
	margin-top: 15px;
	font-weight: 700;
}

#freeapp
{
	width: 253px;
	height: 70px;
	margin-top: 10px;
}

.freeTopic
{
	font-family: RalewaySemibold;
	color: #ffb837;
	font-size: 24px;
	font-weight: 700;
}

.freeDesc
{
	margin: 0px;
	color: #fff;
	font-family: RalewayRegular;
	letter-spacing: 1px;
	font-weight: 200;
}

.yellowButton
{
	height: 45px;
	text-decoration: none;
	font-family: RalewayRegular;
	background: #ffb837;
	outline: none;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	border: 0px;
	padding: 0px 30px;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 700;
	transition: 0.3s;
}

.yellowButton:hover
{
	background: #e3a22d;
}

#SendApp
{
	margin-top: 15px;
}

#arc
{
	height: 31px;
	width: 160px;
	position: absolute;
	top: 67px;
	left: 253px;
	background: url(../images/arc.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

#HowFast
{
	width: 1170px;
	height: 500px;
	margin: 0px auto;
}

.redLine
{
	width: 65px;
	size: 2px;
	margin: 15px auto;
}

#rowVan
{
	width: 1000px;
	height: 300px;
	margin: 35px auto;
}

.vantage
{
	width: 220px;
	height: 300px;
	display: inline-block;
}

.roundIcon
{
	height: 170px;
	width: 170px;
	margin: 0px;
	margin: 0px 25px;
}

.advantage[advantage="mid"]
{
	margin: 0px 166px;
}

#services
{
	width: 100%;
	height: 960px;
	margin: 0px auto;
	background: url(../images/cool_bg.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

.servRow
{
	width: 950px;
	height: 260px;
	margin: 0px auto;
}

.oneService
{
	width: 220px;
	height: 220px;
	display: inline-block;
	text-decoration: none;
}

.serviceimg, .serviceimgColor
{
	width: 230px;
	height: 230px;
}

.servicename
{
	width: 220px;
	height: 40px;
	line-height: 40px;
	font-family: OpenSansBold;
	color: #414141;
	text-align: center;
	margin: 0px;
}

.serviceimg[servicePhoto="men_cl.png"]
{
	background: url(../images/men_bw.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	transition: 1s;
}

.serviceimg[servicePhoto="contractor_cl.jpg"]
{
	background: url(../images/contractor_bw.jpg) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	transition: 1s;
}

.frameServ
{
	width: 220px;
	height: 220px;
	overflow: hidden;
	position: relative;
}

.examplesGreen
{
	background: rgba(99, 195, 153, 0.9);
	width: 220px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	font-family: RalewaySemibold;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	letter-spacing: 1px;
	display: none;
}

.onePx
{
	height: 0px;
	width: 0px;
}

#trythis
{
	width: 100%;
	height: 320px;
	margin: 0px auto;
	background: url(../images/FastBg.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	display: block;
}

#reviews
{
	width: 100%;
	height: 400px;

}

.oneReview
{
	height: 360px;
	width: 350px;
	padding: 15px;
	display: inline-block;
	outline: none;
}

.reviewsString
{
	height: 320px;
	width: 100%;
	margin: 20px auto;
}

.clientPhoto
{
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 50%;

}

.aboutClient
{
	width: 250px;
	padding: 10px 30px 0px 0px;
	height: 35px;
	float:right;
}

.clientName
{
	font-family: RalewayRegular;
	font-size: 20px;
	color: #212121;
}

.clientsProf
{
	font-family: RalewayBold;
	font-size: 14px;
	color: #212121;
	letter-spacing: 1px;
}

.rev
{
	color: #86878b;
	font-family: OpenSans;
	font-size: 17px;
	padding: 10px;
	background: #f4f4f4;
	margin: 10px auto;
	margin-top: 16px;
	height: 115px;
}

.vote
{
	width: 110px;
	height: 30px;
	float: left;
	margin-top: 20px;
}

.bad
{
	color: #fff;
	font-family: RalewayBold;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #f24841;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	display: inline-block;
}

.good
{
	color: #fff;
	font-family: RalewayBold;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #63c399;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	margin: 0px 4px;
	display: inline-block;
}

.cool
{
	color: #fff;
	font-family: RalewayBold;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ffb837;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	display: inline-block;
}

.blueButton
{
	height: 35px;
	text-decoration: none;
	font-family: OpenSansSemibold;
	background: none;
	outline: none;
	border: 2px solid #018cd7;
	border-radius: 5px;
	color: #018cd7;
	cursor: pointer;
	transition: 0.3s;
	font-size: 16px;
	float:right;
	margin-top: 20px;
}

.blueButton:hover
{
	background: #018cd7;
	color: #fff;
}

.greenLink
{
	text-align: center;
	text-decoration: none;
	width: 100%;
	display: inline-block;
	margin: 30px auto;
	font-family: OpenSansSemibold;
	color: #63c399;
	font-size: 14px;
	transition: 0.3s;
}

.whiteLink
{
	text-decoration: none;
	width: 100%;
	display: inline-block;
	margin: 30px auto;
	font-family: OpenSans;
	color: RGBA(255, 255, 255, 0.9);
	font-size: 15px;
	transition: 0.3s;
	margin: 2px 0;
}

.whiteLink
{
	color: RGBA(255, 255, 255, 1);
}

.greenLink:hover
{
	color: #71dbac;
}

#footer
{
	width: 100%;
	height: 180px;
	background: #71dbac;
	display: block;
	margin-top: 170px;
	min-width: 1025px;
}

.realMenu a
{
	color: #63c399;
}

.realMenu
{
	position: relative;
}

.navDot
{
	display: block;
	background: #63c399;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	top: 22px;
	left: 50%;
	margin-left: -3px;
}

#footerLeft
{
	width: 280px;
	height: 180px;
	margin: 0px 10px 0px 0px;
	float: left;
}

.whiteLogo
{
	width: 260px;
	margin-top: 30px;
}

.copy
{
	color: #fff;
	font-family: OpenSansSemibold;
	font-size: 10px;
	letter-spacing: 1px;
	padding-left: 5px;
	margin-top: 28px;
}

#footerSecond
{
	width: 150px;
	height: 150px;
	margin: 0px 10px 0px 80px;
	display: inline-block;
	padding-top: 30px;
	float: left;
}

#footerThird
{
	width: 220px;
	height: 150px;
	margin: 0px 10px 0px 60px;
	display: inline-block;
	padding-top: 30px;
	float: left;
}

#footerFourth
{
	width: 200px;
	height: 150px;
	margin: 0px 10px 0px 100px;
	display: inline-block;
	padding-top: 30px;
	float: left;
}

#footerFourth a
{
	color: rgba(255, 255, 255, 0.7);
	margin: 0px 10px;
	transition: 0.3s;
}

#footerFourth a:hover
{
	color: rgba(255, 255, 255, 1);
	margin: 0px 10px;
}

#dart
{
	width: 120px;
	height: 45px;
	background: red;
	background: url(../images/dart.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
	display: inline-block;
	transition: 0.3s;
}

#dart:hover
{
	background: url(../images/DARTwhite.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

#allfooters
{
	height: 180px;
	width: 1130px;
	margin: 0px auto;
}

/*orders*/

#ordHeader
{
	width: 100%;
	height: 395px;
	background: url(../images/ord_Bg.png) no-repeat center center;
	-moz-background-size: cover;
	background-size: cover;
}

#ShowOrdTopic
{
	padding: 156px 0px;
	font-size: 36px;
	width: 800px;
}

.typeJob
{
	background: #e6e6e6;
	height: 45px;
	line-height: 45px;
	padding: 0px;
	color: #414141;
	font-size: 14px;
	font-family: RalewayBold;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	position: relative;
	margin: 3px;
}

.JobRow
{
	margin: 6px 0px 0px 0px;
	padding-left: 0px;
}

#jobBlocks
{
	margin: 45px auto 0px;
	width: 1045px;
}

.jobTypeLink
{
	color: #414141;
	text-decoration: none;
	display: block;
	padding: 0px 15px;
}

.jobTypeLink:hover
{
	color: #fff;
	background: #898989;
}

ul
{
	list-style-type: none;
}

.hoverMenu
{
	position: absolute;
	padding: 7px 5px;
	left: 0;
	z-index: 10;
	display: none;
	background: #ffb837;
}

.hoverMenu li
{
	text-align: left;
	width: 268px;
	padding: 8px;
	height: 16px;
	line-height: 16px;
	font-family: RalewayRegular;
	font-size: 15px;
}

.hoverMenu li a
{
	color: #414141;
	text-decoration: none;
}

.hoverMenu li a:hover
{
	border-bottom: 2px solid #fff;
}

.ThSpace
{
	height: 3px;
}

#lastOrders
{
	width: 100%;
	margin-top: 50px;
}

.oneOrder
{
	width: 1170px;
	height: 180px;
	margin: 15px auto 30px;
}

.orderTime
{
	color: #63c399;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 0px 25px;
	float:left;
}

.typeBuild
{
	color: #414141;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 0px 25px;
	float:right;
}

.orderInf
{
	width: 1170px;
	height: 150px;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	margin-top: 8px;
}

.orderTitle
{
	color: #414141;
	font-family: RalewayBold;
	font-size: 16px;
	float:left;
	margin: 15px 0px 0px 25px;
	text-decoration: none;
}

.orderTitle:hover
{
	text-decoration: underline;
}

.orderPrice
{
	float:left;
	margin: 13px 0px 0px 10px;
	height: 14px;
	padding: 5px 16px;
	background: #63c399;
	color: #fff;
	border-radius: 7px;
}

.orderLocation
{
	color: #ffb837;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 0px 25px;
	float:right;
	margin: 15px 26px 0px 0px;
}

.aboutOrder
{
	color: #414141;
	font-size: 16px;
	font-family: RalewayRegular;
	margin: 18px 20px;
}

.customer
{
	color: #414141;
	font-size: 16px;
	font-family: RalewayRegular;
	margin: 0px 0px 0px 20px;
	float: left;
	display: inline-block;
}

.customerName
{
	color: #414141;
	font-family: RalewayBold;
	font-size: 16px;
	margin: 0px 25px 0px 0px;
	float:right;
	display: inline-block;
}

.aboutCustomer
{
	width: 100%;
}

.orderDots
{
	display: inline-block;
	height: 18px;
	overflow: hidden;
	letter-spacing: 8px;
	font-family: Roboto;
	color: #e6e6e6;
	font-weight: 900;
	margin: 0px 5px;
	font-size: 18px;
	line-height: 12px;
}

.yellowBigBtn
{
	color: #feba40;
	display: block;
	width: 1166px;
	height: 40px;
	margin: 50px auto;
	border: 2px solid #feba40;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	border-radius: 7px;
	font-family: OpenSansSemibold;
	font-size: 14px;
	transition: 0.3s;
}

.yellowBigBtn:hover
{
	background: #feba40;
	color: #fff;
}

#pageNav
{
	height: 37px;
	margin: 60px auto;
	position: relative;
}

.navNum
{
	width: 35px;
	height: 35px;
	border: 1px solid #e8e8e8;
	font-family: OpenSans;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	border-radius: 7px;
	margin: 0px 10px;
	text-decoration: none;
	display: inline-block;
	transition: 0.3s;
	color: #414141;
}

.navNum:hover
{
	border: 1px solid #febe4b;
}

.leftArrow
{
	position: absolute;
	left: -45px;
	margin-top: 2px;
	color: #e8e8e8;
	transition: 0.3s;
}

.rightArrow
{
	position: absolute;
	right: -45px;
	top: 0px;
	margin-top: 2px;
	color: #e8e8e8;
	transition: 0.3s;
}

.leftArrow:hover, .rightArrow:hover
{
	color: #9c9c9c;
}

#NavPadding
{
	width: 700px;
	height: 37px;
	margin: 60px auto;
}

.orderPrice .fa.fa-rub
{
	position: relative;
	top: -2px;
}